        body {
			background-color:#5F0F40; 
            font-family:"Inter";
		}
        h1 {
            color: white;
            font-family: "Archivo Black", sans-serif;
            text-align: center; 
        }
		h2 {
			color: white;
			font-family: "Archivo Black", sans-serif;
			font-weight: 200;

		}
		h3 {
			color: black;	
			font-family: "Archivo Black", sans-serif;
		    font-optical-sizing: auto;
		    font-weight: 200;
        }
        h4 {
			color: black;	
			font-family: "Archivo Black", sans-serif;
		    font-optical-sizing: auto;
		    font-weight: 200;
		    
		}
		p {
			color: black;
			font-family: "Archivo Black", sans-serif;
		    font-optical-sizing: auto;
		    font-weight: 200;
        }
        .col-sm-3 {
			border-radius: 8px;
        }
        .collumn {
            color: #0F4C5C; 
        }
		.container {
			border-radius: 10px; 
			background-color: #381D2A;
		}